# Frontend Environment Variables
# Replace the values below with your own API keys.

NEXT_PUBLIC_VAPI_PUBLIC_KEY=your_vapi_public_key_here
NEXT_PUBLIC_VAPI_ASSISTANT_ID=your_vapi_assistant_id_here
NEXT_PUBLIC_GROQ_API_KEY=your_groq_api_key_here


NEXT_PUBLIC_BACKEND_HTTP=http://127.0.0.1:8000
NEXT_PUBLIC_BACKEND_WS=ws://127.0.0.1:8000